
Assets.xcassets/AppIcon.appiconset/1024.png
Assets.xcassets/AppIcon.appiconset/120-1.png
Assets.xcassets/AppIcon.appiconset/120.png
Assets.xcassets/AppIcon.appiconset/152.png
Assets.xcassets/AppIcon.appiconset/167.png
Assets.xcassets/AppIcon.appiconset/180.png
Assets.xcassets/AppIcon.appiconset/20.png
Assets.xcassets/AppIcon.appiconset/29.png
Assets.xcassets/AppIcon.appiconset/40-1.png
Assets.xcassets/AppIcon.appiconset/40-2.png
Assets.xcassets/AppIcon.appiconset/40.png
Assets.xcassets/AppIcon.appiconset/58-1.png
Assets.xcassets/AppIcon.appiconset/58.png
Assets.xcassets/AppIcon.appiconset/60.png
Assets.xcassets/AppIcon.appiconset/76.png
Assets.xcassets/AppIcon.appiconset/80-1.png
Assets.xcassets/AppIcon.appiconset/80.png
Assets.xcassets/AppIcon.appiconset/87.png
